html, body{
    overflow: hidden;
}
ul{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
li{
    display: inline-block;
    margin: 10px;
}
.download{
    width: 200px;
    height: 75px;
    background: #000;
    float: left;
    border-radius: 5px;
    position: relative;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
}
.download .bi{
    color: #fff;
    position: absolute;
    font-size: 40px;
    left: 10px;
    top: 15%;
    transform: (-15%);
    font-size: 50px;
}
.download:hover{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.download span{
    top: 25%;
    left: 20px;
    position: relative;
    transform: translate(-50%);
    text-align: left;
}